

.pageNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f8f8;
    color: #333;
}

.pageNotFound .bigText {
    display: block;
    font-size: 96px;
    font-weight: bold;
    margin-bottom: 20px;
}

.pageNotFound .smallText {
    display: block;
    font-size: 24px;
}
